<div id="test-container">

    <div class="question-container">
        <div>
            <h1>Transclusion Header</h1>
        </div>
    </div>

    <div class="question-container">
        <div class="question-container-header">
            <h2>Single Slot Content Projection</h2>
        </div>
        <div class="question-container-content">
            <div>
                <h3>Before Content Projection</h3>
                <dvt-question-single-standard></dvt-question-single-standard>
            </div>
            <div>
                <h3>After Content Projection</h3>
                <dvt-question-single-slot-container></dvt-question-single-slot-container>
            </div>
        </div>
    </div>

    <div class="question-container">
        <div class="question-container-header">
            <h2>Multi Slot Content Projection</h2>
        </div>
        <div class="question-container-content">
            <div>
                <h3>Before Content Projection</h3>
                <dvt-question-multi-standard></dvt-question-multi-standard>
            </div>
            <div>
                <h3>After Content Projection</h3>
                <dvt-question-multi-slot-container></dvt-question-multi-slot-container>
            </div>
        </div>
    </div>

    <div class="question-container">
        <div class="question-container-header">
            <h2>Multi Slot Content Projection Refactored as Single Slot</h2>
        </div>
        <div class="question-container-content">
            <div>
                <dvt-question-single-slot-refactor-container></dvt-question-single-slot-refactor-container>
            </div>
        </div>
    </div>

    <div class="question-container">
        <div class="question-container-header">
            <h2>Conditional Slot Content Projection</h2>
        </div>
        <div class="question-container-content">
            <div>
                <h3>Before Content Projection</h3>
                <dvt-conditional-standard></dvt-conditional-standard>
            </div>
            <div>
                <h3>Content Projection Method One</h3>
                <dvt-conditional-slot-method-one></dvt-conditional-slot-method-one>
            </div>
            <div>
                <h3>Content Projection Method Two</h3>
                <dvt-conditional-slot-method-two></dvt-conditional-slot-method-two>
            </div>
        </div>
    </div>


</div>