<div>4. What is your contact details?</div>

<div class="flex standard">
    <label for="multi-standard-phone">What is your contact number?</label>
    <input type="tel" id="multi-standard-phone" name="multi-standard-phone" placeholder="071 071 0717"
        pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
</div>

<div class="flex standard">
    <label for="multi-standard-email">What is your email?</label>
    <input type="email" name="multi-standard-email" id="multi-standard-email">
</div>

<div class="flex standard">
    <label for="multi-standard-address">What is your postal address?</label>
    <input type="text" name="multi-standard-address" id="multi-standard-address">
</div>

<div>What is your preferred contact means?</div>

<div class="flex standard-radio">
    
    <input type="radio" id="multi-standard-phone-cbx" name="contact" value="phone">
    <label for="multi-standard-phone-cbx">Call Me</label>
    <input type="radio" id="multi-standard-email-cbx" name="contact" value="email">
    <label for="multi-standard-email-cbx">E-mail Me</label>
    <input type="radio" id="multi-standard-postal-cbx" name="contact" value="postal">
    <label for="multi-standard-postal-cbx">Post Me</label>
</div>

<div class="flex standard">
    <input type="checkbox" id="multi-standard-terms" name="multi-standard-terms">
    <label for="terms">I accept the terms and conditions</label>
</div>
